In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('game_ratings.csv.gz', encoding='utf-8', compression='gzip', index_col=0)

In [3]:
ratings.drop(ratings.columns[ ratings.notnull().sum() < 50 ], axis=1, inplace=True)

In [4]:
ratings.head()

,autothrall,baltruce,Butterfly0038,Cheesechick,darker,Doomfarer,eddy_sterckx,emagius,emonika,freechinanow,...,Twinge,Guantanamo,gashlycrumb,MikeBwithoutadot,Quarashi,Ruesailmana,ted44bertuzzi,PopeBrain,red_gamster,djlg
175223,8.0,6.2,5.0,8.0,7.0,6.0,6.0,7.0,6.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40834,NaN,NaN,6.0,8.0,7.0,8.0,8.0,7.0,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178900,7.7,6.5,NaN,8.0,8.0,7.0,8.0,7.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104162,NaN,NaN,5.0,8.0,NaN,7.0,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36218,NaN,4.3,6.0,8.0,7.0,9.0,6.0,6.0,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
mean = ratings.mean(axis=0)
pd.DataFrame(mean).head()

                      0
autothrall     8.213830
baltruce       6.715789
Butterfly0038  5.754098
Cheesechick    6.730769
darker         6.462687

In [31]:
normalized = ratings.sub(mean, axis=1)
normalized.head()

,autothrall,baltruce,Butterfly0038,Cheesechick,darker,Doomfarer,eddy_sterckx,emagius,emonika,freechinanow,...,Twinge,Guantanamo,gashlycrumb,MikeBwithoutadot,Quarashi,Ruesailmana,ted44bertuzzi,PopeBrain,red_gamster,djlg
175223,-0.21383,-0.515789,-0.754098,1.269231,0.537313,-0.614679,0.133333,1.485714,-0.774194,0.493671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40834,NaN,NaN,0.245902,1.269231,0.537313,1.385321,2.133333,1.485714,NaN,0.493671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178900,-0.51383,-0.215789,NaN,1.269231,1.537313,0.385321,2.133333,1.485714,-0.774194,-0.506329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104162,NaN,NaN,-0.754098,1.269231,NaN,0.385321,NaN,0.485714,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36218,NaN,-2.415789,0.245902,1.269231,0.537313,2.385321,0.133333,0.485714,NaN,1.493671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
import sys

print('=' * normalized.index.shape[0])

sim = pd.DataFrame()

def similarity(i, j):
    filter = normalized.loc[i].notnull() & normalized.loc[j].notnull()
    
    if filter.sum() == 0:
        return 0
    
#     print '%d rows in common' % filter.sum()
    
    nom = (normalized.loc[i]*normalized.loc[j]).sum()
    
#     print 'nominator %g' % nom
    
#     print 'sum of ratings is %g' % (normalized.loc[i][filter].sum())
    denom = ((normalized.loc[i][filter]**2).sum()**0.5)*((normalized.loc[j][filter]**2).sum()**0.5)
    
#     print 'denominator %g' % denom
    return nom/denom

for i_index, i in enumerate(normalized.index.values):
    for j_index, j in enumerate(normalized.index.values):
#         print '%d,%d (%d, %d)' % (i_index, j_index, i, j)
        if (i_index <= j_index):
            sim.loc[i,j] = similarity(i,j)
        else:
            sim.loc[i,j] = sim.loc[j,i]

    sys.stdout.write('.')
    sys.stdout.flush()

# sim(175223,178900)

==================================================================================================================================================================================================================================================================================================
..........................................................................................

ZeroDivisionError: float division by zero

In [60]:
sim

,175223,40834,178900,104162,36218,171915,66098,90850,125403,192951,...,50381,39938,826,43443,104590,57390,193739,137900,71671,57070
175223,1.000000,0.218021,0.539485,0.040310,0.146466,0.099656,-0.546824,-0.183036,0.379661,0.312866,...,-0.367110,-0.620632,-0.351997,-0.236195,0.160163,0.045412,0.000000,0.045647,0.146062,0.553857
40834,0.218021,1.000000,0.269474,0.116891,0.804784,0.825015,0.186612,0.780094,0.809439,0.856835,...,-0.462032,0.038756,-0.238928,-0.321870,0.247595,-0.037973,-0.514097,-0.093363,-0.230035,-0.026188
178900,0.539485,0.269474,1.000000,0.169821,0.191624,0.307653,-0.059283,0.275349,0.389781,0.180614,...,-0.413092,-0.006104,-0.198029,-0.466379,0.291185,0.078339,0.995228,-0.436356,-0.053413,0.007606
104162,0.040310,0.116891,0.169821,1.000000,0.111931,0.008623,-0.018933,0.151947,0.058832,0.290700,...,-0.129264,-0.017220,-0.328256,-0.164936,0.145135,-0.020262,-1.000000,0.308999,-0.085898,-0.026236
36218,0.146466,0.804784,0.191624,0.111931,1.000000,0.810001,0.137191,0.751565,0.768311,0.764853,...,-0.306485,0.050564,-0.144749,-0.220401,0.170820,0.046282,-0.460361,-0.434919,-0.193488,0.048244